.displayProduct_main_container{
    padding: 1.3rem;
}

.displayProduct_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

.product{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    box-shadow: 0px 0px 7px 1px grey;
    border-radius: 0.2rem;
    padding-bottom: 1.8rem;
}

.product_image_container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product .product_image{
    flex-grow: 1;
    width: 100%;
    aspect-ratio: 16/13;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.product > .colour_options{
    display: flex;
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    /* border: 1px solid red; */
}

.colour_cover{
    border-width: 1px;
    border-style: solid;
    padding: 0.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colour_cover > .colour_body{
    display: inline-block;
    width: 1.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px grey;
}

.product_description{
    padding: 0rem 0.5rem;
    color: rgba(00, 00, 00, 0.9);
}

.rating_container{
    width: max-content;
    background: rgb(243, 242, 242);
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    padding: 0.3rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.rating{
    border-right: 1px solid slategrey;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding-right: 0.5rem;
}

.rating_star_icon{
    color: #e67a00;
}

.price_container{
    display: flex;
    padding: 0rem 0.5rem;
    gap: 0.1rem;
    /* border: 1px solid green; */
    align-items: center;
}

.price_container > .price_amount{
    font-size: 1.8rem;
}

.dash_between_prices{
    margin: 0px 0.4rem;
    font-size: 1.5rem;
}

.price_symbol{
    transform: translateY(-35%);
    font-size: 0.85rem;
    color: rgba(00, 00, 00, 0.8);
}