.sidebar_rating_container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 0.3rem;
}

.rating_filter{
    display: flex;
    align-items: center;
}

.rating_filter > span{
    font-size: 0.85rem;
}

.star{
    color: #e67a00;
    font-size: 1.3rem;
}

.rating_filter:hover > span{
    color: #e67a00;
}